<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Money Management App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoneyManagement.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/upload.js" asp-append-version="true"></script>
    <script src="~/js/cate.js" asp-append-version="true"></script>
    <script src="~/js/currency.js" asp-append-version="true"></script>
    <script src="~/js/chart.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/notification.js" asp-append-version="true"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 bg-success p-2">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">MoneyManagement</a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/MoneyAccount/Index">Money Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Transaction/Index">Trannsaction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Category/Index">Category</a>
                        </li>

                        <li class="nav-item dropdown text-white">
                            <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-check"></i>  @Model.Saver.Username
                            </button>
                            <ul class="dropdown-menu" style="min-width: 250px;">
                                <li><a class="nav-link text-dark" asp-page="/User/Edit" asp-route-id="@Model.Saver.UserId"><i class="bi bi-person-rolodex"></i> Edit Account</a></li>
                                <li><a class="nav-link text-dark" asp-page="/User/ChangePass" asp-route-id="@Model.Saver.UserId"><i class="bi bi-pencil-square"></i> Change Password</a></li>
                                <li><a class="nav-link text-dark" asp-page="/Index" asp-page-handler="logout"><i class="bi bi-door-open-fill"></i> Logout</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown text-white">
                            <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                                <span id="notificationBell"> <i class="bi bi-bell"></i><span id="notificationCounter"></span></span>
                            </button>
                            <ul class="dropdown-menu notification-menu" id="messageList" style="min-width: 350px" aria-labelledby="navbarDropdown">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <input type="hidden" id="UserId" value="@Model.Saver.UserId" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")

</body>
</html>