@page
@model MoneyManagementApp.Pages.Message.DetailsModel

<div>
    <h4>Mess</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mess.Datetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mess.Datetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mess.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mess.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mess.UserId1Navigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mess.UserId1Navigation.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mess.UserId2Navigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mess.UserId2Navigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mess?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
