@page
@model MoneyManagementApp.Pages.Message.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mess[0].Datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mess[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mess[0].UserId1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mess[0].UserId2Navigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mess) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId1Navigation.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId2Navigation.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
