@page
@model MoneyManagementApp.Pages.MoneyAccount.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maccount[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maccount[0].Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maccount[0].Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maccount[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maccount[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Maccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
