@page
@model MoneyManagementApp.Pages.Category.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cate[0].CateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cate[0].Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cate[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cate)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CateName)
                </td>
                <td>
                    <div class="selector-container">
                        <div class="selected-icon-container">
                            <i class="material-icons selected-icon" style="background: @item.Color">@item.Icon</i>
                        </div>
                    </div>
                </td>
                <td>
                    @if (item.Type == false)
                    {
                        <dd class="col-sm-10">Cost</dd>
                    }
                    @if (item.Type == true)
                    {
                        <dd class="col-sm-10">Income</dd>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CateId">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
