@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h4>Welcome @Html.DisplayFor(model => model.Saver.Username)</h4>
    <div class="fst-italic" id="info">Hãy theo dõi tổng số tiền chi tiêu của bạn và lên kế hoạch chi tiêu hợp lý.</div>
</div>
<select id="AccountId" class="form-control" style="max-width: 520px;
        background: burlywood;
        font-weight: 700;
        margin-top: 10px;">
    @foreach (var item in Model.Maccounts)
    {
        <option selected="selected" value="@item.AccountId">
            @Html.DisplayFor(modelItem => item.AccountName) - @Html.DisplayFor(modelItem => item.Money)
        </option>
    }
    <option selected="selected" value="0">
        All Account - $@Model.total
    </option>
</select>
<hr />

<div id="chartCostContainer" style="height: 370px; width: 50%; float: left; margin-top: 50px; margin-bottom: 50px;"></div>
<div id="chartIncomeContainer" style="height: 370px; width: 50%; float: left; margin-top: 40px;"></div>
<div style="clear: both;"></div>
<hr />
<div id="chartContainer" style="height: 370px; width: 100%; display: block; margin: auto; margin-top: 80px;"></div>

<script type="text/javascript">
    $(document).ready(function () {
        initChart();
        $('#AccountId').on('change', function () {
            console.log("init");
            initChart();
        });
    });
</script>


@*<div class="list-group" style="margin-top: 20px;">
    @foreach (var item in Model.Cates)
    {
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <dl class="row">
                <dd class="col-sm-2">
                    <div class="selector-container">
                        <div class="selected-icon-container">
                            <i class="material-icons selected-icon" style="background: @item.Color">@item.Icon</i>
                        </div>
                    </div>
                </dd>
                <dd class="col-sm-4">@item.CateName</dd>
                <dt class="col-sm-2">xx%</dt>
                <dt class="col-sm-2">xx VND</dt>
            </dl>
        </a>
    }
</div>*@


